div.align{
    padding-left: 100px;
    padding-top: 15px;
    line-height: 50px;
}
input{
    border-radius: 5px;
    border:1px solid lightslategrey;
}
select{
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
}
div.imagem{


}